
<div class="w-100 row align-items-center breadcrumbb ml-0 mb-5">
    <div class="offset-md-4 col-md-4 text-center">
          <h1 class="text-center mt-4">Article </h1>
    </div>
    <div class="col-md-4 text-right"> 
        <span>
            <span class="breadcrumb-item"><%= link_to 'Home', root_path %></span>
		    <span class="breadcrumb-item"><%= link_to 'Create Article', new_article_path %></span>
		    <span class="breadcrumb-item active" aria-current="page">Edit Article</span>
        <span>
    </div>
 </div>
	<%= render 'article' %>




