@import 'bootstrap/dist/css/bootstrap';
.navbar {

background-color: black !important;
margin-bottom:30px
}

.nav-link{
	color:white !important;
}
 

.navbar-brand {

font-size: 3rem;
color:white !important;
}

 

h1 {

color: red;

}
